<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body class="smoothscroll enable-animation">
	<header th:replace="layout/layout::head" class="bg-dark"> </header>

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>Lista de calendarios</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped bg-secondary">
					<thead>
						<tr>
							<th>Id</th>
							<th>Descripcion</th>
							<th>Fecha Inicio</th>
							<th>Fecha Fin</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="calendario: ${calendarioList}">
							<td th:text="${calendario.calendario_id}"></td>
							<td th:text="${calendario.calendario_desce}"></td>
							<td th:text="${calendario.fecha_inicio}"></td>
							<td th:text="${calendario.fecha_fin}"></td>
							<td><a th:href="@{/calendario/editar/} + ${calendario.calendario_id}"
								th:text="'Editar'"  class="btn btn-primary"></a></td>
							<td><a  th:href="@{/calendario/eliminar/} + ${calendario.calendario_id}"
								th:text="'Eliminar'" class="btn btn-danger" ></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5"><a th:href="@{/calendario/crearcalendario}" th:text="'Calendario Nuevo'" 
								class="btn btn-primary btn-block"></a></td>
						</tr>		
							
						
					</tfoot>
				</table>
						</div>
		</div>
	</div>

	<footer th:replace="layout/layout::footer" class="bg-dark" ></footer>
</body>
</html>